.App {
  text-align: center;
  background-color: #777;
  padding-bottom: 100px;
  color: "white";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  background-color: #777;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  /* overflow-x: hidden; */
}

.dropdownWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
.dropdown {
  padding: 10px;
  width: 200px;
  z-index: 0;
}
.form {
  width: 200px;
  z-index: 0;
  padding-top: 16px;
  padding-right: 12px;
}
.button {
  width: 200px;
}
.tableWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.svg {
  position: absolute;
  right: 0px;
  z-index: 0;
}
.img {
  right: -100px;
}
.logo {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  background-color: transparent;
}

.title {
  padding-top: 40px;
}
